html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.Navbar {
  background: #fafafa !important;

  .Logo {
    background: #3f51b5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 24px;
    align-items: center;
  }
}

.SubNavbar {
  background: transparent !important;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;

  ul.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li.MenuItem {
      float: left;

      a.Dropdown {
        color: #212121;
        text-align: center;
        padding: 10px 22px;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:hover + .DropdownMenu {
          visibility: visible;
          opacity: 1;
        }

        span.MenuTitle {
          padding: 0px 4px 0px 8px;
        }
      }

      ul.DropdownMenu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: rgba(245, 245, 245, 0.5);
        list-style-type: none;
        color: #212121;
        padding: 0px;
        box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s;

        &:hover {
          visibility: visible;
          opacity: 1;
        }

        li.DropdownItem {
          line-height: 26px;
          width: 220px;
        }
      }
    }
  }
}
